<h1>Users Index</h1>
<%= link_to 'Add user', new_user_path %>

<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:avatar) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><p><%= user.email %></p></td>
        <td><%= image_tag user.avatar if user.avatar.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
