<div class="centering_parent">
  <div class="centering_item">
    <h1><%= t('views.common.title_new', name: User.model_name.human) %></h1>
  </div>

  <%= form_with model: @user, local: true do |form| %>
    <div class="centering_item">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

    <div class="centering_item">
      <%= form.label :avatar %>
      <%= form.file_field :avatar %>
    </div>

    <div class="centering_item">
      <%= form.submit %>
    </div>
  <% end %>

  <div class="centering_item">
    <%= link_to t('views.common.back'), users_path %>
  </div>
</div>
