<h1><%= t('views.common.title_new', name: User.model_name.human) %></h1>

<%= form_with model: @user, local: true do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to t('views.common.back'), users_path %>
